# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\nikik\Desktop\electives\tci\groupAssignment20202021spring-startproject\.idea/dataSources/
/dataSources.local.xml
